# 1. Bloquear acesso direto a arquivos sensíveis (Banco de dados, Backups, Configurações)
<FilesMatch "\.(db|sqlite|sqlite3|log|bak|git|env|cjs|json)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# 2. Impedir listagem de pastas (Para ninguém ver a lista de arquivos do site)
Options -Indexes

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]